#avatar {
    background-image: url('https://robohash.org/nice?set=set5&size=150x150');
    width:  45px;
    height: 45px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    min-width: 45px;
    min-height: 45px;
}
