
    .name-message-scaffold{
        margin : 30px 0;
        background-color: var(--greyLight-1);
        box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
        width: 450px;
        border-radius: 15px;
        padding: 10px;
    
        .name-message-container{
            padding: 20px;
    
            .form-input{
                width: 350px;
                height: 35px;
                border: none;
                border-radius: 1rem;
                font-size: 16px;            
                padding-left: 1.4rem;
                box-shadow: var(--inner-shadow);
                background: none;
                font-family: inherit;
                color: var(--greyDark);
                margin-bottom: 20px;
            
                &::placeholder { color: var(--greyLight-3); }
                &:focus { outline: none; box-shadow: var(--shadow); }
            }

            .button-container{
                display: flex;
                justify-content: center;
            }
        }
    
        textarea{
            height: 10rem !important;
            max-width: 350px;   
            resize : none;
        }
    }