@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e4ebf5;
  box-sizing: border-box;
}

// https://stackoverflow.com/a/67373942
*{
    -webkit-user-select: none;    /* Safari */
    -webkit-touch-callout: none;  /* iOS Safari */
    -khtml-user-select: none;     /* Konqueror HTML */
    -ms-user-select: none;        /* Internet Explorer/Edge */
    -moz-user-select: none;       /* Old versions of Firefox */
     user-select: none;           /* Non-prefixed version*/
}

div{
  box-sizing: border-box;
}

:root{
  --primary-light: #8abdff;
  --primary-dark: #5b0eeb;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #60697c;
  --greyDarkHover : #25272b;
  --primary : #9286ff;
  --shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
  --inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
}

p,h1,h2,h3,h4,h5,h6,a{
  margin : 0;
  padding : 0;
}

label{
  display: block;
  text-align: start;
  padding: 5px;
  width: min-content;
}

.neu-button {
  width: 120px;
  height: 40px;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;

  color: var(--greyDark);
  &:hover { color: var(--primary); }
  &:active {
    box-shadow: var(--inner-shadow);
  }

}


.neulink{
  color: var(--greyDark);
  cursor: pointer;

  &:hover, &:active{
    color: var(--greyDarkHover);
  }


}

.navtext {
  margin-top : 10px; 
}

.navlinks{
  display: flex;
  // align-items: center;

  & > * {
      margin-left: 10px;
      margin-right: 10px;
  }
}

p{
  color: var(--greyDark);
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}